{
  "all": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "include": [
    "**/*.js"
  ],
  "exclude": [
    "config",
    "coverage",
    "app.js",
    "database/migrations/*"
  ]
}