sudo: required
dist: trusty
language: node_js
node_js:
- 11.0.0
branches:
  only:
  - master
cache:
  directories:
  - node_modules
services:
- docker
env:
  global:
  - NODE_ENV=test
  - secure: LiDevDd3JIyGnX3eunY3mN/4lZqgjyzDvaukX6O18GdGRdy0YZGjc8j1HvwyHC+754sgAfkAMgVZ/lTQq5KB5HYe5+WZcA7hcI6l9a/h4EITuHERND9PpRcjzPyg6wo1Z5BlsvyaPWz9Z4IhVNAmoo+VHDfKa4/LRsBk4vI3+xnR9Js1U9jqYQaC7xfbjLSxZVBZgk792PxVdyDXuQ+qPMYR6hyKbhQ/BrUAoDDii4F7xhDOwZ6KQqY6ErPvXTjiz/yXjMVEEv8PLVTI77wFuvDPbZf8xcbW6pOHkNpfh8EsRc9/HiGpucRCYoW/0oFzgmpmQcRGMO9MCn/+CYQHl0DdMxihcREUqOboLrpIRWkdsizO/hij32WSJQhSjhbmyB0hBc1RtqVpYejPTT7ovSECtoxoVpB2KH3ZBJYKP3W4xfmzIQZ4dU5tCRAtYy17znG2d63zd+UNr2vPSqJJpQQC1FXL1LFxlHehqDDMFhk8ebiwhHrgQ+ouXvCZgosnQyuh5dcm0MIzu2BjvrlwZO4AZ4B+ZEZOa670vkdEC2BrzwrHyPi9uR7naU+dvF4g4tyLGmo6Sh7+9Hyb/4MX2rvUb95K9Mi/e0BwdSkI/1QC66T/k86LBno4ZSZe97lWOHZ2I9549HIuq3y7BG8MF4vu7HMUutrdngCTIL8tEoc=
install:
- npm install
before_script:
- sudo service postgresql stop
- docker ps
- npm run infra
- sleep 5
- npm run db:migrate
- mkdir -p .nyc_output
- mkdir -p test/coverage
- touch test/coverage/coverage.lcov
- chmod 777 test/coverage/coverage.lcov
script:
- npm run test:coverage:report
after_success:
- "echo Upload code coverage \U0001F4AA"
- ./node_modules/.bin/codecov
deploy:
- provider: heroku
  skip_cleanup: true
  api_key:
    secure: "kXEXi1JBiUwG8oLND5AsuuKZqtjOkK39J6IRVECH2421XqNCfRVZnD5tVkf2+a6gsLICfU0oukOH0D1GsniCqUrxM63L/lNtgRoOH69alAG5XKX00f53dkbfYBQ5zCWis7MBoXBOYwDAfM3/x2Iv7advfkmTCptdlTtRO1G9t0m0phbdV2dXZLSbvla2o0x5beu5HX/CpJJFkMJYyoSZurqEMCY3EJZjNDGFKI4YRWFIB085c4SbaS8YCbXMATKSNeOgopkWJD4QKr21rkvhxb4g8kB1jLZ7i54ib9h9odgfhC6GvDibsCMQMjZ5dOPbV3KKdiLGS6TAJekoz3NgUc29Z2pX0v+/f9sIx/TdrdC7gbcI2T2ncY146OKj1tvmEcN/i2rODv+RIfEY7tUXx7nxIHWvkb6fj6IK5Q4RFQCKA4+W8xGBru7MMvFXa92Nf8s0PdRluu7fZvgObPfPCKIb/aiVMf56HoQGe5la7wTifiuOINBGaK2qU2zstzojQRxpfEHqAZpCTtHwOhOmFTDeddnSNHpP5yeEzk6Xtaj4+86WPlx7gIPLPKQRkWR+LMQ2PiTLqAWxprEPNWqD16ZEY80ZpX5eivntX8KiTmTMeIlsTgW5moX5egpqsaz7vx79IxxqrZ9TovOcy0T969iZZ5Ak1v6OmhCItid2lQM="
  app: addressbook-nodejsnights
  strategy: git
  on:
    branch:
    - master
    repo: bencheek/addressbook
notifications:
  email: false
